.profile-tabs {
    display: flex;
    border-bottom: 1px solid #333;
    margin-bottom: 20px;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
}
.tab.active {
    border-bottom: 2px solid #5f5e5e;
}
.post {
    margin-bottom: 20px;
}
.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-username {
    font-weight: bold;
}
.post-date {
    color: #777;
    margin-left: 10px;
}

.post-actions {
    display: flex;
    justify-content: space-between;
    color: #777;
}
.action-icon {
    margin-right: 20px;
}

.image {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.post{
    padding: 5px;
    border-radius: 1rem;
}

.like>svg:hover{ /*target the image with css*/
    fill: red;
    stroke: red;
    transition: 500ms;
    
  }
.like-active>svg{
  fill: red;
  stroke: red;
}

.actions {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;

    .mg{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1%;
    }
    .rt{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5%;
    }

}
.comments{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
.action-icon {
   
    color: #777;
}

.like>svg:hover{ /*target the image with css*/
    fill: red;
    stroke: red;
    transition: 500ms;
    
  }
.like-active>svg{
  fill: red;
  stroke: red;
}


  #comment>svg:hover{ /*target the image with css*/
    fill: rgb(0, 132, 255);
    stroke: rgb(0, 132, 255);
    transition: 500ms;
    
  }

  #rt>svg:hover{ /*target the image with css*/
    
    stroke: rgb(0, 255, 0);
    transition: 500ms;
    
  }
  #share>svg:hover{ /*target the image with css*/
    
    stroke: rgb(95, 95, 95);
    transition: 500ms;
    
  }