<div class="container-posts">
    
        <div class="" 
        style="background-color: transparent; text-align: center; display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    
        ">
            @if (newPosts == true) {
                <!-- <button (click)="cambiarValorNewPost()">HAY NUEVOS POSTS</button> -->
                <button class="button" (click)="cambiarValorNewPost()" style=" margin-bottom: 1.5rem;">
                    <svg viewBox="0 0 448 512" class="bell"><path d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z"></path></svg>
                    HAY NUEVOS POSTS
                </button>
            }
        </div>

        @for (post of newLoadPosts; track $index) {
            <div class="post">
                <div class="header">
                    <img src="{{post.user.profilePicture}}" alt="Avatar" class="avatar">
                    
                    <span class="username">{{ post.user.username }}</span>
                    
         
                    <span class="date">{{post.timeAgo}}</span>
                </div>
                <div class="content">
                    <p>{{post.content}}</p>
                  
                    @if (post.imageUrl == undefined ) {
                         
                    }@else {
                        <img src="{{post.imageUrl}}" alt="" class="image">
                    }
          
                    
                   
                </div>
               
                <div class="actions">
                    <div class="mg">
                        <!-- Botón para dar o quitar like -->
                        <a (click)="changeStateLike(post)">
                        
                          <span class="action-icon" [ngClass]="{'like-active': post.likedByCurrentUser, 'like': !post.likedByCurrentUser}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-heart">
                              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                              <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                            </svg>
                          </span>
                        </a>
                        <span style="">{{ post.likes.length }}</span>
                      </div>

                <div class="comments">  
                    <span class="action-icon" id="comment"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-message-circle"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 20l1.3 -3.9c-2.324 -3.437 -1.426 -7.872 2.1 -10.374c3.526 -2.501 8.59 -2.296 11.845 .48c3.255 2.777 3.695 7.266 1.029 10.501c-2.666 3.235 -7.615 4.215 -11.574 2.293l-4.7 1" /></svg></span>
                    <span style=""></span>
                </div>

                <div class="rt">
                    <span class="action-icon" id="rt"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-repeat"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 12v-3a3 3 0 0 1 3 -3h13m-3 -3l3 3l-3 3" /><path d="M20 12v3a3 3 0 0 1 -3 3h-13m3 3l-3 -3l3 -3" /></svg></span>
                    <span style=""></span>
                </div>


                <span class="action-icon" id="share"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-share"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M18 6m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M8.7 10.7l6.6 -3.4" /><path d="M8.7 13.3l6.6 3.4" /></svg></span>
                
                </div>
            </div>
            
        }



        
</div>