<div class="margins">
    <div class="user-card">
        <img src="https://www.rutaspormarruecosali.com/pics_fotosnoticias/256/rutas-por-marruecos-ali-llamar-a-un-marroqui-moro.jpg" alt="Avatar" class="avatar">
        <div class="user-info">
            <p class="username">zaeerr.homsii</p>
            <p class="handle">zaeerr.homsii</p>
            <p class="follow-status">Ha empezado a seguirte</p>
        </div>
        <button class="follow-button">Seguir también</button>
    </div>
</div>


