@import '../../../styles/variables.scss';

$color-white: #ffffff;
$color-dark: #0e0e0e;
$color-grey: #cccccc;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

  .header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    align-items: center;


    position: fixed; /* Fijar la posición */
    top: 0; /* Posición en la parte superior */
    left: 0; /* Alinear a la izquierda */
    right: 0; /* Alinear a la derecha */
    z-index: 100; /* Asegurarse de que esté sobre otros elementos */
    #direct{display: none;}
    .bottom-nav {
      display: flex;
      gap: 2rem;
      &-item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;
    
      }
      .active {
        color: $principalColor;
      }
    }
  }



@media (max-width: 1250px) {
  .header {
    #direct{display: flex;}
    justify-content: space-between;
    padding: 0.5rem 1rem;
    .bottom-nav {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0.8rem 0;
      z-index: 99;
      will-change: transform;
      transform: translateZ(0);
      box-shadow: 0 -2px 3px -2px $color-dark;
  
      &-item {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: center;
        text-align: center;
        font-size: 0.8rem;

      }
  
      &-link {
        display: flex;
        flex-direction: column;
      }
  
      .active {
        color: $principalColor;
      }
    }
  }
}



