/* You can add global styles to this file, and also import other style files */
@import '../src/styles/variables.scss';
body{
    background-color: rgb(10, 10, 10);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  }

  a{
    color: inherit;
  }

  p{
    color: white;
  }

  // .post {
  //   background-color: whitesmoke;
  // }

  // .light-theme{
  //   .post{
  //     background-color: whitesmoke;
  //   }
  //   body{
  //     background-color: rgb(255, 255, 255);
  // }
  // }
/* Estilo para el tema oscuro */
.dark-theme {
  background-color: #000000;
  color: whitesmoke;
  header{
    box-shadow: 1px 1px 9px black;
    background-color: #0e0e0e;
  }
  .post {
    background-color: #111;
  }
  #logoForLight{
    display: none;
  }
  &-item {color: white;}
  .form-control{

    background-color: rgb(38, 38, 38);
    border: #4d4d4e;
    color: rgb(0, 0, 0);
}
  .bottom-nav {background-color: #0e0e0e;}
    .modal-content {
      background-color: $secudaryColor;
  }
  .modal-header{
      border-bottom: 1px solid #4d4d4e;
  }
  .modal-footer{
      border-top: 1px solid #4d4d4e;
  }
  h5{color: whitesmoke;}

  .user-card{background-color: #111;}
  .input{background-color: #111; color: whitesmoke;}
  .profile-card{background-color: #111;}
  .container{
    background-color: #111;
 }
 select{background-color: rgb(38, 38, 38); color: whitesmoke; border: 1px solid rgb(38, 38, 38)}
}

/*-----------------------------------------------------*/

/* Estilo para el tema claro */
.light-theme {
  background-color: #f2f2f2;
  color: #000000;

  &-item {color: black;}

  #logoForDark{
    display: none;
  }
  .user-card {background-color: #ffffff;}

  .form-control{

      background-color: rgb(235, 235, 235);
      border: #4d4d4e;
      color: rgb(0, 0, 0);
  }

  header{
    background-color: #ffffff;
    border: 1px solid gainsboro;
  
  }
  p{color: black;}
  span{color: black;}
  .post{
    background-color: #ffffff;
    border: 1px solid gainsboro;
  }
  .container{
     background-color: #ffffff;
  }
  .bottom-nav {background-color: #ffffff;}
  .input {color: black;}
  #direct{stroke: black;}
  h5{color: #000000;}
  .profile-card{background-color: #ffffff;  border: 1px solid gainsboro;}
  select{background-color: f2f2f2; color: black; border: 1px solid #f2f2f2;}
}









#closeButton{
  stroke: #4d4d4e;
  fill: #4d4d4e;
}

  .btn-primary{
    background-color: $principalColor;
    border: $principalColor;
    
  }


  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $principalColor !important;
   
    border-color: $principalColor !important;;
  }

  .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: $principalColor !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px $principalColor;
    border-color: $principalColor !important;;
  }


