
    <article style="padding: 3rem 1rem; border: 0.1px solid rgb(132, 132, 132);">
        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <div class="pronouns" style="display: flex; gap: 1rem;">
                <span style="color: whitesmoke;"><img src="" alt="">"img"</span>
                <p class="name">Sergio</p>
                <p class="tag_user">{{tag_user}}</p>
                <span class="hour" style="color: white;">4h</span>
            </div>
            <div class="contenido">
                <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere et temporibus voluptatibus soluta repellat ab exercitationem modi, veniam accusamus, molestias, cum similique! Incidunt neque vel, sit expedita fugit perspiciatis modi.</p>
            </div>
        </div>
    </article>

    <article style="padding: 3rem 1rem; border: 0.1px solid rgb(132, 132, 132);">
        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <div class="pronouns" style="display: flex; gap: 1rem;">
                <span style="color: whitesmoke;"><img src="" alt="">"img"</span>
                <p class="name">Sergio</p>
                <p class="tag_user">{{tag_user}}</p>
                <span class="hour" style="color: white;">4h</span>
            </div>
            <div class="contenido">
                <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere et temporibus voluptatibus soluta repellat ab exercitationem modi, veniam accusamus, molestias, cum similique! Incidunt neque vel, sit expedita fugit perspiciatis modi.</p>
            </div>
        </div>
    </article>

    <article style="padding: 3rem 1rem; border: 0.1px solid rgb(132, 132, 132);">
        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <div class="pronouns" style="display: flex; gap: 1rem;">
                <span style="color: whitesmoke;"><img src="" alt="">"img"</span>
                <p class="name">Sergio</p>
                <p class="tag_user">{{tag_user}}</p>
                <span class="hour" style="color: white;">4h</span>
            </div>
            <div class="contenido">
                <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere et temporibus voluptatibus soluta repellat ab exercitationem modi, veniam accusamus, molestias, cum similique! Incidunt neque vel, sit expedita fugit perspiciatis modi.</p>
            </div>
        </div>
    </article>

    <article style="padding: 3rem 1rem; border: 0.1px solid rgb(132, 132, 132);">
        <div style="display: flex; flex-direction: column; gap: 2rem;">
            <div class="pronouns" style="display: flex; gap: 1rem;">
                <span style="color: whitesmoke;"><img src="" alt="">"img"</span>
                <p class="name">Sergio</p>
                <p class="tag_user">{{tag_user}}</p>
                <span class="hour" style="color: white;">4h</span>
            </div>
            <div class="contenido">
                <p class="parrafo">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere et temporibus voluptatibus soluta repellat ab exercitationem modi, veniam accusamus, molestias, cum similique! Incidunt neque vel, sit expedita fugit perspiciatis modi.</p>
            </div>
        </div>
    </article>

